<h2>Auto-Deployment is for those who dare</h2>
<html>
<body>
    <header>
        <h1>ميعاد عيد القيامة</h1>
    </header>
    السنة
    <input type="number" min="1900" max="2099" step="1" value="2016">
</body>
</html>
