<h2>Auto-Deployment is for those who dare</h2>
<html>
<body align = "center" class = "body">
    <header>
        <h1>ميعاد عيد القيامة</h1>
        <h4> ادخل السنة<h4>
    </header>


<%= form_for :calculator, url: "new", method: :get  do |f|   %>
  <%= number_field_tag :year, params[:year], in: 1...2999%>
  <%= f.submit 'OK' %>
<% end %>

<% unless @result.nil? %>
  <p>  <%= @result %> </p>
<% end %>
</body>
</html>
